body{
	background-color:PaleTurquoise ; 
}



#sectionlist{
	width: 1000px;
	background-color:white;
	border: 1px solid black;
	text-align: left;
	margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;

}

.container
{
	width: 100%;

}
#table_list{
		font-size: 11px;
}
.topic_district{
	color:green;
}
.line1{
	border-left: 6px solid green;
}
.tr_table{
	background-color:aliceblue  ; 
}